<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include menu.html %}
    <section class="page-header">
      <h1 class="project-name">Notes From Ukraine</h1>
      <h2 class="project-tagline">A blog by the Diversity Working Group of Peace Corps Ukraine</h2>
    </section>
    <section class="main-content">
      <ul class="archive-list">
       {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
        </li>
       {% endfor %}
      </ul>
      {{ content }}
    </section>
    {% include footer.html %}
    <script type="text/javascript">
      (function($) {
        var rand = Math.floor(Math.random() * 10);
        var banner_images = [
          {'image': 'banner_1.jpg', 'ypos': '24%'},
          {'image': 'banner_2.jpg', 'ypos': '46%'},
          {'image': 'banner_3.jpg', 'ypos': '55%'},
          {'image': 'banner_4.jpg', 'ypos': '55%'},
          {'image': 'banner_5.jpg', 'ypos': '14%'},
          {'image': 'banner_6.jpg', 'ypos': '28%'},
          {'image': 'banner_7.jpg', 'ypos': '48%'},
          {'image': 'banner_8.jpg', 'ypos': '36%'},
          {'image': 'banner_9.jpg', 'ypos': '66%'},
          {'image': 'banner_10.jpg', 'ypos': '56%'},
          {'image': 'banner_11.jpg', 'ypos': '71%'}
        ];
        $(".page-header").css({'background-image': 'url("/uploads/' + banner_images[rand].image + '")', 'background-position-y': banner_images[rand]['ypos']});
      })(jQuery);
    </script>
  </body>
</html>
