<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include menu.html %}
    <section class="page-header">
      <h1 class="project-name">Notes From Ukraine</h1>
      <h2 class="project-tagline">A blog by the Diversity Working Group of Peace Corps Ukraine</h2>
    </section>
    <section class="main-content">
      <h2>{{ page.title }}</h2>
      {{ content }}
      <h3>Important Dates</h3>
      <div class="important-dates-wrap">
        <ul>
          {% for date in page.important_dates %}
          <li><span class="text">{{ date }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </section>
    {% include footer.html %}
    <script type="text/javascript">console.log({{ page.banner }}); console({{ page.banner_vertical_position }})</script>
  </body>
</html>
