<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Notes From Ukraine</h1>
      <h2 class="project-tagline">A blog by the Diversity Working Group of Peace Corps Ukraine</h2>
    </section>
    <section class="main-content">
      <h2>{{ page.title }}</h2>
      {{ content }}
      <div class="important-dates-wrap>
        <h3>Important Dates</h3>
        <ul>
          {% for date in page.important_dates %}
            <li>{{ date }}</li>
          {% endfor %}
        </ul>
      </div>
      {% include footer.html %}
    </section>
  </body>
</html>
